[Unit]
Description=Raspberry Pi Throttle Monitor

[Service]
EnvironmentFile=/usr/local/sbin/.env
ExecStart=/usr/bin/python3 /usr/local/sbin/throttle_monitor.py "$GATUS_TOKEN"
Restart=always
User=root

[Install]
WantedBy=multi-user.target
